@model IEnumerable<LogisticsManagement.Data.Driver>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">   
             <h2>Driver List</h2>
        </div>
        <div class="col-6 text-end">   
             <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
        </div>
    </div>

<table id ="tblData" class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverPay)
            </th>
            <th @*width="35%"*@></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverPay)
            </td>
            <td class="text-center">
                <a asp-controller="Drivers" asp-action="Edit" class="btn btn-primary" asp-route-id=@item.Id>
                    <i class="bi bi-pencil-square"></i>
                    Edit
                </a>
                <a asp-controller="Drivers" asp-action="Details" class="btn btn-info" asp-route-id=@item.Id>
                    <i class="bi bi-info-circle-fill"></i>
                    Details
                </a>
                <a asp-controller="Drivers" asp-action="Delete" class="btn btn-danger" asp-route-id=@item.Id>
                    <i class="bi bi-trash-fill"></i>
                    Delete
                </a>
                
            </td>
        </tr>
}
    </tbody>*@
</table>
</div>

@section Scripts{
    <script src="~/js/driver.js"></script>
}
